html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.projectCard {
  margin: 10px 300px;
}

.projectCardDetails {
  margin: 10px 200px;
}

.statusChip {
  margin-top: 10px;
  margin-right: 10px;
}

.backButtonContainer {
  margin: 30px;
}

.description {
  padding-top: 20px;
}